@model VolanteNominaRC.Models.User

@{
    ViewBag.Title = "Registrar nuevo usuario";
}

<div class="container col-8 shadow p-3 mb-5 bg-white rounded">
    <h3 class="bg-secondary text-light pl-2 pr-2">Nuevo Usuario</h3>
    <div class="col-12 pb-3 pt-3 bg-light">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="col-4 mb-3">
                    <label for="validationDefault01">Código de Empleado</label>
                    @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                </div>
                <div class="col-8 mb-3">
                    <label for="validationDefault02">Cédula</label>
                    @Html.EditorFor(model => model.Identification, new { htmlAttributes = new { @class = "form-control col-12", @type = "number" } })
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <label for="validationDefault02">Rol</label>
                    <select class="custom-select" required>
                        <option value="Admin">Admin</option>
                        <option value="Consulta">Consulta</option>
                    </select>
                </div>


                <div class="col-8 mb-3">
                    <label for="validationDefaultUsername">Correo</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="idEmailDeco">@@</span>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-12" } })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4 mb-4">
                    <label for="validationDefault02">Contraseña</label>
                    @*<input type="text" class="form-control col-12" id="idPassword" required>*@
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-12", @type = "password" } })
                </div>

            </div>

            <button class="btn btn-danger w-100" type="submit">
                Crear Usuario
            </button>

            <span class="d-block bg-light text-info pl-2 pr-2 pb-1 pt-1 mt-3 mb-0 text-center">El usuario ha sido creado exitosamente!</span>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#EmployeeID").keypress(function () {
            if (this.value.length >= 4)
                return false;
        });

        $("#Identification").keypress(function () {
            if (this.value.length >= 11)
                return false;
        });

    });


</script>
